*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    
}
body{
    overflow-x: hidden !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.6rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem ;
    border-bottom-left-radius: 1rem;
   
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

